/* Write your CSS here */
.bg-container {
  padding-left: 16px;
  padding-right: 16px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
@media (max-width: 576px) {
  .main-container {
    height: 100vh;
  }
  .main-container {
    flex-direction: column;
  }
  .inner-container {
    order: 1;
  }
}
.inner-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 48px;
  margin-left: 24px;
  text-align: left;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comment-container {
  display: flex;
  align-items: center;
}
.list-prop {
  list-style: none;
  padding-left: 24px;
  padding-right: 24px;
}
.main-heading {
  color: #1e293b;
  font-family: 'Roboto';
  margin-bottom: 16px;
}
.para {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
}
.name-el {
  margin-bottom: 16px;
  width: 170px;
  box-shadow: 1px 1px 1px 1px #dee0e3;
  outline: none;
  border: 1px solid #dee0e3;
  padding: 10px;
  font-size: 16px;
}
.comment-el {
  font-size: 16px;
  box-shadow: 1px 1px 1px 1px #dee0e3;
  border: 1px solid #dee0e3;
  font-family: 'Roboto';
  width: 190px;
}
.custom-btn {
  background-color: #0b69ff;
  color: white;
  padding: 14px;
  border: 0;
  border-radius: 6px;
  font-family: 'Roboto';
  margin-top: 12px;
}
.logo {
  height: 250px;
}
.count-el {
  background-color: #0284c7;
  align-self: center;
  margin-left: 16px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-top: 4px;
  color: white;
  margin-right: 8px;
  border-radius: 4px;
}
.comment-name {
  font-family: 'Roboto';
  font-weight: bold;
  margin-left: 0;
}
